<!-- card -->
<div class="card flex flex-col gap-3 sm:gap-5 p-3 sm:p-5 rounded-lg bg-teal-500">
    <div class="flex flex-row justify-between">
        <!-- id -->
        <p class="text-white">ID</p>
        <!-- first name -->
        <p class="text-white">First Name</p>
    </div>

    <!-- avatar -->
    <div class="image-container flex justify-center">
        <img src="https://images.pexels.com/photos/1040881/pexels-photo-1040881.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="avatar" class=" rounded-full">
    </div>

    <!-- email -->
    <div class="flex justify-center">
        <p class="text-white text-lg">Email</p>
    </div>

    <!-- buttons -->
    <div class="buttons flex flex-row justify-between">
        <button
            class="update text-white bg-teal-900 px-3 py-1 rounded-full hover:scale-110 hover:contrast-125 hover:underline decoration-1 duration-300 ease-out">Update</button>
        <button
            class="delete text-white bg-purple-900 px-3 py-1 rounded-full hover:scale-110 hover:contrast-125 hover:underline decoration-1 duration-300 ease-out">Delete</button>
    </div>
</div>