<div class="w-full h-screen grid items-center bg-lightest-blue">
    <div>
        <div class="the-container w-10/12 mx-auto flex flex-col items-center gap-5">
            <h3 class="text-md font-semibold letter-spacing-1 text-center">Click the button below to generate thesis
                title idea
                {{courseToGenerateTitle}}
            </h3>

            <!-- generated title -->
            <div
                class="flex flex-col sm:flex-row items-center gap-3 px-5 py-2 rounded-lg sm:rounded-full border-solid border-2 border-blue-500">
                <p class="text-center">{{generatedThesisIdea.thesis_title}}</p>
                <button type="button"
                    class="rounded-full border-solid border-2 border-blue-500 py-2 px-5 hover:scale-110 hover:border-rose-500 duration-300 ease-out"
                    (click)="copy(generatedThesisIdea)">{{copyText}}</button>
            </div>

            <!-- generated title description-->
            <div
                class="lg:w-9/12 mx-auto flex items-center text-justify gap-3 py-2 px-5 lg:py-3 lg:px-7 rounded-lg border-solid border-2 border-blue-500">
                <p>{{generatedThesisIdea.thesis_title_description}}</p>
            </div>

            <!-- button to generate title -->
            <div>
                <button type="button"
                    class="font-normal rounded-full border-solid border-2 border-blue-500 py-2 px-5 hover:scale-110 hover:border-rose-500 duration-300 ease-out"
                    (click)="clickCourseToGenerateTitle(courseAcronym)">Generate</button>
            </div>
        </div>
        <app-made-with-love></app-made-with-love>
    </div>
</div>