<div class="card-fake-data my-5 border border-dashed border-rose-700">
    <!-- id -->
    <p>User ID: {{fakeUserData.id}}</p>
    <!-- email -->
    <p>Email: {{fakeUserData.email}}</p>
    <!-- name -->
    <p>Name: {{fakeUserData.name}}</p>
    <!-- phone -->
    <p>Phone: {{fakeUserData.phone}}</p>
    <!-- username -->
    <p>Username: {{fakeUserData.username}}</p>
    <!-- website -->
    <p>Website: {{fakeUserData.website}}</p>
</div>

<!-- <ng-template ngFor let-userData [ngForOf]="fakeUserData">
    <div class="card-fake-data my-5 border border-dashed border-rose-700">
        <p>User ID: {{userData.id}}</p>
        <p>Email: {{userData.email}}</p>
        <p>Name: {{userData.name}}</p>
        <p>Phone: {{userData.phone}}</p>
        <p>Username: {{userData.username}}</p>
        <p>Website: {{userData.website}}</p>
    </div>
</ng-template> -->

<!-- <div *ngFor="let userData of fakeUsersData;">
    {{userData.name}}
</div> -->