<div
    class="card-fake-data border border-solid-2 border-blue-500 rounded-2xl p-3 sm:p-5 h-full hover:scale-105 duration-300 ">
    <!-- id -->
    <p>User ID: {{fakeUserData.id}}</p>
    <!-- email -->
    <p>Email: {{fakeUserData.email}}</p>
    <!-- name -->
    <p>Name: {{fakeUserData.name}}</p>
    <!-- phone -->
    <p>Phone: {{fakeUserData.phone}}</p>
    <!-- username -->
    <p>Username: {{fakeUserData.username}}</p>
    <!-- website -->
    <p>Website: {{fakeUserData.website}}</p>
</div>