<div class="w-10/12 mx-auto flex flex-row justify-between items-center h-20 text-lg font-medium">
    <p>Logo</p>

    <div class="flex flex-row gap-5">
        <a routerLink="/Users"
            class="border border-solid-1 border-blue-500 rounded-full py-1 px-3 transition-all hover:border-rose-500 hover:scale-105 duration-300 ease-out">Users</a>
        <a routerLink="/Posts"
            class="border border-solid-1 border-blue-500 rounded-full py-1 px-3 transition-all hover:border-rose-500 hover:scale-105 duration-300 ease-out">Post</a>
    </div>

</div>

<!-- content here -->
<router-outlet></router-outlet>