<div class="the-container w-10/12 mx-auto">
    <div class="hero-container w-9/12 mx-auto py-7 flex flex-col items-center gap-3">
        <!-- <img src="assets/images/HeroLogo.png" alt="HeroLogo" class="w-52 object-contain"> -->
        <h1 class="text-3xl font-bold text-center w-100">Thesis Title Generator</h1>
        <p class="text-center text-base tracking-wide">Welcome to the Thesis Title Generator website, where we help
            students and researchers generate unique and creative titles for their academic papers. Our website is
            designed to provide you with a simple and user-friendly platform to help you generate a title that will make
            your thesis stand out.</p>
    </div>
</div>