/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --COLOR1: #D9D9D9;
}

.color1 {
    background-color: var(--COLOR1);
}

.the-container {
    max-width: 1440px;
}