/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --COLOR1: #D9D9D9;
    --COLOR-RED: #f43f5e;
    --COLOR-BLUE: #3b82f6;
    --COLOR-BLACK: #000;
    --COLOR-WHITE: #fff;
}

.color-black {
    background-color: var(--COLOR1);
}

.color-white {
    background-color: var(--COLOR1);
}

.color1 {
    background-color: var(--COLOR1);
}

.color-red {
    background-color: var(--COLOR-RED);
}

.color-blue {
    background-color: var(--COLOR-BLUE);
}

.logo {
    width: 2.75rem;
    object-fit: contain;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.the-container {
    max-width: 1440px;
}

.grid-course-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-flow: row;
    gap: 1.5em;
}

.course-card {
    cursor: pointer;
    height: min(100%, 18rem);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 376px) {
    .the-container {
        width: 90%;
    }
}

@media screen and (max-width: 570px) {
    .hero-container {
        width: 100%;
    }
}