<!-- cards -->
<ng-template ngFor let-userData [ngForOf]="fakeUsersData">
    <div class="card-fake-data my-5 border border-dashed border-rose-700">
        <!-- id -->
        <p>User ID: {{userData.id}}</p>
        <!-- email -->
        <p>Email: {{userData.email}}</p>
        <!-- name -->
        <p>Name: {{userData.name}}</p>
        <!-- phone -->
        <p>Phone: {{userData.phone}}</p>
        <!-- username -->
        <p>Username: {{userData.username}}</p>
        <!-- website -->
        <p>Website: {{userData.website}}</p>
    </div>
</ng-template>

<!-- <div *ngFor="let userData of fakeUsersData;">
    {{userData.name}}
</div> -->