<h2>Programming List</h2>

<!-- this is propery binding look at the bracket disabled
this is event binding look at the parenthesis click

<button type="button" (click)="handleClick()" [disabled]="isDisable">Show list of books</button>

this is two way data binding using ng Model
<input type="text" [(ngModel)]="myName">
<p>{{myName}}</p> -->

<!-- <button (click)="isShowing = !isShowing">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button> -->

<!-- <li class="book">
    <img [src]="sanitizeImageUrl(book.image)" alt="{{ book.name | titlecase}}" width="100">
    <p>{{ book.name | titlecase}} by {{ book.author | titlecase}}</p>
    <p class="currency">{{ book.amount | currency:'INR'}}</p>
    <button type="button">Add to Cart</button>
</li> -->

<ul *ngIf=" isShowing">

    <ng-container *ngFor="let singleBook of books; let i = index">
        <!-- parenthesis is child to parent -->
        <!-- bracket is parent to child -->
        <app-book (bookEmitter)="addToCart(singleBook)" [book]="singleBook"></app-book>
    </ng-container>

</ul>