ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.book {
    list-style: none;
    text-overflow: ellipsis;
    width: 25%;
    text-align: center;
    cursor: pointer;
}